*.js
!jest.config.js
!**/lambdas/*.js
!header.js
*.d.ts
node_modules
__pycache__/
*.pyc
package-lock.json
# CDK temporary file
cdk.context.json

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel build directories
.cache
.build

# IntelliJ settings
.idea
Kai.iml
