$base-color: #f3f3f3;

body {
    font-family: 'Lucida Sans', Verdana, sans-serif;
}

.MuiButton-contained {
    background-color: #607D8B;
    box-shadow: none;
    &:hover {
        background-color: #49606b;
        box-shadow: none;
    }
}
